<a href="https://colab.research.google.com/github/18K41A04B4/Assignment/blob/master/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Area of triangle.

In [ ]:
a=float(input("enter first side: "))
b=float(input("enter second side: "))
c=float(input("enter third side: "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c)) ** (1/2)
print("area of the triangle =",area)

enter first side: 5.0
enter second side: 6.0
enter third side: 7.0
area of the triangle = 14.696938456699069

2.palindrome or not.

In [ ]:
word = input("enter word: ")
if word==word[::-1]:
  print(word,"is palindrome")
else:
  print(word,"is not palindrome")

enter word: malayalam
malayalam is palindrome

3.leap year or not.

In [ ]:
year=int(input("enter year: "))
if (year%4==0):
  if (year%100==0):
    if(year%400==0):
      print(year,"is leap year")
    else:
      print(year,"is not a leap year")
  else:
     print(year,"is leap year")
else:
  print(year,"is not a leap year")

enter year: 1900
1900 is not a leap year

4.space to hyphen problem.

In [ ]:
str1=input("enter sentence: ")
str2=str1.replace(' ','-')
print(str2)

enter sentence: This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.unique sort problem.

In [ ]:
items=input("enter comma seperated sequence of words: ")
words=[word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

enter comma seperated sequence of words: orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

6.Tax calculator

In [ ]:
salary=int(input("enter income: "))
if salary<=250000:
  print("nill")
elif salary>=250001 and salary<=500000:
  tax=salary*(5/100)
  print(tax)
elif salary>=500001 and salary<=750000:
  tax=salary*(10/100)
  print(tax)
elif salary>=750001 and salary<=1000000:
  tax=salary*(15/100)
  print(tax)
elif salary>=1000001 and salary<=1250000:
  tax=salary*(20/100)
  print(tax)
elif salary>=1250001 and salary<=1500000:
  tax=salary*(25/100)
  print(tax)
else:
  tax=salary*(30/100)
  print(tax)

enter income: 3500000
1050000.0

7.Take a list of integers as an argument,and converts it into a single integer.

In [ ]:
list=[11,33,50]
for i in list:
  print(i,end="")

113350

8.units of time.

In [ ]:
seconds_per_minute = 60
seconds_per_hour = 3600
seconds_per_day = 86400
days=int(input("Enter number of Days : "))
hours=int(input("Enter number of Hours : "))
minutes=int(input("Enter number of Minutes : "))
seconds=int(input("Enter number of Seconds : "))
total_seconds=days*seconds_per_day
total_seconds=total_seconds+(hours*seconds_per_hour)
total_seconds=total_seconds+(minutes*seconds_per_minute)
total_seconds=total_seconds+seconds
print("Total number of seconds :",total_seconds)

Enter number of Days : 20
Enter number of Hours : 5
Enter number of Minutes : 30
Enter number of Seconds : 60
Total number of seconds : 1747860

9.sort 3 integers.

In [ ]:
x=int(input("enter first nymber"))
y=int(input("enter second number"))
z=int(input("enter third number"))
a=min(x,y,z)
b=max(x,y,z)
c=(x+y+z)-a-b
print("sorted order=",a,c,b)

enter first nymber10
enter second number8
enter third number9
sorted order= 8 9 10

10.Immediate successor of the date.

In [ ]:
year = int(input("Input a year: "))
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
month = int(input("Input a month : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
day = int(input("Input a day : "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2000
Input a month : 12
Input a day : 21
The next date is [yyyy-mm-dd] 2000-12-22.

11.Product of list of numbers.

In [ ]:
def multiplyList(myList) :  
    result = 1
    for x in myList: 
         result = result * x  
    return result  
list = [45,3,2,89,72,1,10,7]  
print(multiplyList(list))

121111200

12.compute given number list to get desired output.

In [ ]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

13.compute given number tuple to get the desired output.

In [ ]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*n[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

14.Write a python program that takes a number and returns a list of its digits.so for 586392 it should return [5,8,6,3,9,2]

In [ ]:
number=int(input("enter number: "))
c = str(number)
int_list=[]
for i in range(len(c)):
  int_list.append(int(c[i]))
print(int_list)

enter number: 586392
[5, 8, 6, 3, 9, 2]

15.Write a program that finds the longest palindrome substring of a given number.

In [ ]:
class Solution(object):
   def longestPalindrome(self, s):
      dp = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         dp[i][i] = True
      max_length = 1
      start = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            end = i+l
            if l==2:
               if s[i] == s[end-1]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
            else:
               if s[i] == s[end-1] and dp[i+1][end-2]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
      return s[start:start+max_length]
ob1 = Solution()
print(ob1.longestPalindrome("cdehhgduuduudgh"))

hgduuduudgh

16.Substring check(bug funny)

In [ ]:
a=input("enter string 1: ")
b=input("enter string 2: ")
print(a.count(b))

enter string 1: 1010110010
enter string 2: 10110
1

In [ ]:
a=input("enter string 1: ")
b=input("enter string 2: ")
print(a.count(b))

enter string 1: 110111011
enter string 2: 10011
0

17.Pour1-pouring water

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1