<a href="https://colab.research.google.com/github/18K41A04B4/Assignment/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Area of triangle.

In [ ]:
a=float(input("enter first side: "))
b=float(input("enter second side: "))
c=float(input("enter third side: "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c)) ** (1/2)
print("area of the triangle =",area)

enter first side: 5.0
enter second side: 6.0
enter third side: 7.0
area of the triangle = 14.696938456699069

2.palindrome or not.

In [ ]:
word = input("enter word: ")
if word==word[::-1]:
  print(word,"is palindrome")
else:
  print(word,"is not palindrome")

enter word: malayalam
malayalam is palindrome

3.leap year or not.

In [ ]:
year=int(input("enter year: "))
if (year%4==0):
  if (year%100==0):
    if(year%400==0):
      print(year,"is leap year")
    else:
      print(year,"is not a leap year")
  else:
     print(year,"is leap year")
else:
  print(year,"is not a leap year")

enter year: 1900
1900 is not a leap year

4.space to hyphen problem.

In [ ]:
str1=input("enter sentence: ")
str2=str1.replace(' ','-')
print(str2)

enter sentence: This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.unique sort problem.

In [22]:
items=input("enter comma seperated sequence of words: ")
words=[word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

enter comma seperated sequence of words: orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

6.Tax calculator

In [23]:
salary=int(input("enter income: "))
if salary<=2,50,000:
  print("nill")
elif salary>=2,50,001 and salary<=5,00,000:
  print("5 percent")
elif salary>=5,00,001 and salary<=7,50,000:
  print("10 percent")
elif salary>=7,50,001 and salary<=10,00,000:
  print("15 percent")
elif salary>=10,00,001 and salary<=12,50,000:
  print("20 percent")
elif salary>=12,50,001 and salary<=15,00,000:
  print("25 percent")
else:
  print("30 percent")

SyntaxError: ignored